body {
    color: black;
    background-color: #E7E7E7;
    margin: auto;
}
    header {
        max-width: 100%;
        height: 90px;
        margin: auto;
        display: flex;
        background-color: #1C2B3E;
        justify-content: space-between;    
      }
       
      header p {
        width: 100px;
        color: rgba(255,255,255,1);
        margin-top: 20px;
        margin-left: 130px;
        font-family: Tinos;
        font-weight: Regular;
        font-size: 32px;
        text-align: left;
      }
       
      header nav ul {
        width: 100px;
        color: rgba(255,255,255,1);
        margin-right: 400px;
        font-family: Tenor Sans;
        font-weight: Medium;
        font-size: 24px;
        text-align: left;
        display: flex;
        gap: 50px;
        text-decoration: none;
        list-style-type: none;
      }
       
      header nav ul a {
        color: rgba(255,255,255,1);
        text-decoration: none;
      }
       
      header nav ul a:hover {
        text-decoration: underline;
      }
    
    img {
        max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    }
    .Titolo {
        color: #1C2B3E;
        margin-top: 50px;
        margin-left: 130px;
        font-family: Tenor Sans;
        font-weight: Regular;
        font-size: 35px;
      }


.Immagine {
        width: 336px;
        height: 458px;
        position: absolute;
        top: 250px;
        right: 164px;
        padding-top: 120px;
        
    }
    .Testo {
        width: 460px;
        color: black;
        margin-top: 100px;
        margin-left: 130px;
        margin-bottom: 200px;
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 80px;
    }
  
    .Info {
        color: #1C2B3E;
        margin-top: 50px;
        margin-left: 130px;
        font-family: Tenor Sans;
        font-weight: Regular;
        font-size: 35px;
    }
     .Card {
            display: flex;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            max-width: 1000px;
            margin-left: 60px;
            gap: 96px;
            padding-left: 80px;
            padding-bottom: 70px;
        }
    .Card h2 {
            display: flex;
            width: 280px;
            height: 70px;
            padding-top: 0%;
            margin: 0;
            text-align: center;
        }
    .Card h2 {
            display: flex;
        padding-top: 22px;
        justify-content: center;
        color: #000;
        text-align: center;
        font-family: "Familjen Grotesk";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        }
    .Card h2 a {
            display: flex;
            justify-content: center;
            text-align: center;
            text-decoration: none;
            color: #000;
        }
        .Card h2 a:hover {
            text-decoration: underline;
        }
        .Card img {
            display: flex;
            padding-bottom: 0%;
            margin-top: 0px;
            height: 280px;
            width: 100%;
            object-fit: cover;
        }

   .Testo_artista h1 {
    color: #C42F69;
    font-family: "Tenor Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.971%;
    padding-left: 80px;
   }
   .Paragrafo p {
    width: 613px;
height: 0;
flex-shrink: 0;
color: #000;
font-family: Helvetica;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
padding-left: 80px;
}
.Foto1 {
    width: 336px;
    height: 458px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 250px;
    right: 164px;
}
.Testo2 p {
width: 613px;
height: 194px;
flex-shrink: 0;
color: #000;
font-family: Helvetica;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 300px;
padding-left: 80px;
}
.Immagini {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin-left: 60px;
    gap: 96px;
    padding-left: 80px;
    padding-bottom: 70px;
}
.Immagini img {
    display: flex;
    padding-bottom: 0%;
    margin-top: 0px;
    height: 280px;
    width: 280px;
    object-fit: cover;
}
.Immagine1 {
    width: 455px;
    height: 194px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 250px;
    right: 164px; 
}
.Testo_info {
     height: 0;
    flex-shrink: 0;
    color: #000;
    font-family: Helvetica;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    margin-left: 70px;
    margin-top: 30px;
    width: 500px;
    height: 30px;
    padding-bottom: 300px;
}
.Titolo2 p {
    color: #C42F69;
    font-family: "Tenor Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
   padding-bottom: 70px;
    padding-left: 130px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.Testo2_info p {
    height: 500px;
    width: 500px;
    flex-shrink: 0;
    color: #000;
    font-family: Helvetica;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    margin-left: 20px;
    padding-top: 20px;
    margin-top: 0px;
    padding-bottom: 70px;
    margin-bottom: 200px;
    padding-left: 120px;
}
.Immagine2 {
    width: 455px;
    height: 194px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 800px;
    right: 164px; 
}
.Testo_mostra p {
width: 613px;
height: 0;
flex-shrink: 0;
color: #000;
font-family: Helvetica;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
margin-left: 30px;
padding-top: 30px;
padding-bottom: 900px;
padding-left: 120px;
}
footer {
    max-width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    background-color: #1C2B3E;
    justify-content: space-between;
}
footer nav ul {
    width: 100px;
    color: rgba(255,255,255,1);
    margin-right: 400px;
    font-family: Tenor Sans;
    font-weight: Medium;
    font-size: 24px;
    text-align: left;
    display: flex;
    gap: 50px;
    text-decoration: none;
    list-style-type: none;
}
footer p {
    color: rgba(255,255,255,1);
    margin-top: 20px;
    margin-left: 130px;
    font-family: Tinos;
    font-weight: Regular;
    font-size: 26px;
    text-align: left;
    padding-top: 20px;
  }
  footer nav ul a {
    color: rgba(255,255,255,1);
    text-decoration: none;
  }
   
  footer nav ul a:hover {
    text-decoration: underline;
  }
  